In [9]:
import pandas as pd
import numpy as np

# MIGRACION
df_migracion=pd.read_excel("DATA-MIGRACION.xls")

# COVID
df_covid=pd.read_csv("DATA-COVID-MUERTES.csv")

# CARBON
df_carbon=pd.read_excel("DATA-CARBON.xlsx")

In [10]:
# intercambiar columnas a filas y viceversa

# CARBON
df_carbon = df_carbon.T

# COVID
df_covid = df_covid.T

In [11]:
# mostrar colmumna de Migración neta en el 2021
df_migracion_2021=df_migracion.iloc[:,[0,65]]

# mostrar colmumna de muertes por covid en 2023 - 12 - octubre
df_covid_2023=df_covid.iloc[:,[1378]]

# guardar data solo de emisiones de CO2 en 2021
df_carbon_2021 = df_carbon.iloc[:,[0,6]]

In [12]:
# COVID
# Resetear el índice y convertirlo en una columna
df_covid_2023 = df_covid_2023.reset_index()

In [13]:
# MIGRACION
# eliminar filas 0,1,2 (fecha de actualizacion, NaN, Nombre de país)
chau_fila_m=[0,1,2]
df_migracion_2021 = df_migracion_2021.drop(index=chau_fila_m)

# CARBON
# eliminar fila 0 (emision de CO2)
chau_fila_c=["Territorial emissions in MtCO₂"]
df_carbon_2021.drop(index=chau_fila_c, inplace=True)

# COVID
# eliminar filas 0,1 (fecha, mundo data)
chau_fila_d=[0,1]
df_covid_2023.drop(index=chau_fila_d, inplace=True)

C:\Users\cpauc\AppData\Local\Temp\ipykernel_22772\582211230.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_carbon_2021.drop(index=chau_fila_c, inplace=True)

In [14]:
# MIGRACION
# cambiar nombre del indice "Data Source" a "Pais"
df_migracion_2021 = df_migracion_2021.rename(columns={ "Data Source" : 'Pais'})

# COVID
# cambiar nombre del indice "index" a "Pais"
df_covid_2023 = df_covid_2023.rename(columns={'index': 'Pais'})

# CARBON
# cambiar nombre del indice 0 a "Pais"
df_carbon_2021 = df_carbon_2021.rename(columns={ 0 : "Pais"})

In [15]:
# MIGRACION
# cambiar nombre del indice "Unnamed:66" a "Migracion_Neta_2021"
df_migracion_2021 = df_migracion_2021.rename(columns={ "Unnamed: 65" : "Migracion_Neta_2021"})

# COVID
# cambiar nombre del indice "1378" a 'Muertes_Covid_12_10_2023'
df_covid_2023 = df_covid_2023.rename(columns={ 1378 : 'Muertes_Covid_12_10_2023'})

# CARBON
# cambiar nombre del indice "Unnamed: 64" a "Territorial emissions in MTCO2"
df_carbon_2021 = df_carbon_2021.rename(columns={ 6 : "Territorial emissions in MTCO2"})

In [16]:
# borrar valores de NaN en Pais

# MIGRACION
df_migracion_2021 = df_migracion_2021.dropna(subset=['Pais'])

# COVID
df_covid_2023.dropna(subset=['Pais'])

# CARBON
df_carbon_2021 = df_carbon_2021.dropna(subset=['Pais'])

In [17]:
# MIGRACION
# borrar valores de NaN en Migracion_Neta_2021
df_migracion_2021 = df_migracion_2021.dropna(subset=['Migracion_Neta_2021'])

# COVID
# borrar valores de NaN en Muertes_Covid_12_10_2023
df_covid_2023.dropna(subset=['Muertes_Covid_12_10_2023'])

# CARBON
# borrar valores de NaN en Territorial emissions in MTCO2
df_carbon_2021 = df_carbon_2021.dropna(subset=['Territorial emissions in MTCO2'])

In [29]:
# volver todos los paises a tipo oracion

# MIGRACION
df_migracion_2021['Pais'] = df_migracion_2021['Pais'].str.title()

# COVID
df_covid_2023['Pais'] = df_covid_2023['Pais'].str.title()

# CARBON
df_carbon_2021['Pais'] = df_carbon_2021['Pais'].str.title()

In [30]:
# reemplazar " " con "_" en la data de Pais

# MIGRACION
df_migracion_2021['Pais'] = df_migracion_2021['Pais'].str.replace(' ', '_')

# COVID
df_covid_2023['Pais'] = df_covid_2023['Pais'].str.replace(' ', '_')

# CARBON
df_carbon_2021['Pais'] = df_carbon_2021['Pais'].str.replace(' ', '_')

In [31]:
# reemplazar tildes

# MIGRACION
df_migracion_2021['Pais'] = df_migracion_2021['Pais'].str.replace('á', 'a').str.replace('é', 'e').str.replace('í', 'i').str.replace('ó', 'o').str.replace('ú', 'u')
df_migracion_2021['Pais'] = df_migracion_2021['Pais'].str.replace('Á', 'A').str.replace('É', 'E').str.replace('Í', 'I').str.replace('Ó', 'O').str.replace('Ú', 'U')

# COVID
df_covid_2023['Pais'] = df_covid_2023['Pais'].str.replace('á', 'a').str.replace('é', 'e').str.replace('í', 'i').str.replace('ó', 'o').str.replace('ú', 'u')
df_covid_2023['Pais'] = df_covid_2023['Pais'].str.replace('Á', 'A').str.replace('É', 'E').str.replace('Í', 'I').str.replace('Ó', 'O').str.replace('Ú', 'U')

# CARBON
df_carbon_2021['Pais'] = df_carbon_2021['Pais'].str.replace('á', 'a').str.replace('é', 'e').str.replace('í', 'i').str.replace('ó', 'o').str.replace('ú', 'u')
df_carbon_2021['Pais'] = df_carbon_2021['Pais'].str.replace('Á', 'A').str.replace('É', 'E').str.replace('Í', 'I').str.replace('Ó', 'O').str.replace('Ú', 'U')

In [32]:
# Borra caracteres especiales de Pais menos "_"

# MIGRACION
df_migracion_2021['Pais'] = df_migracion_2021['Pais'].str.replace('[^a-zA-Z0-9_]', '', regex=True)

# COVID
df_covid_2023['Pais'] = df_covid_2023['Pais'].str.replace('[^a-zA-Z0-9_]', '', regex=True)

# CARBON
df_carbon_2021['Pais'] = df_carbon_2021['Pais'].str.replace('[^a-zA-Z0-9_]', '', regex=True)

In [33]:
# enumerar correctamente

# MIGRACION
df_migracion_2021.reset_index(drop=True,inplace=True)

# COVID
df_covid_2023.reset_index(drop=True,inplace=True)

# CARBON
df_carbon_2021.reset_index(drop=True,inplace=True)

In [34]:
################## ISOS

In [56]:
df_isos=pd.read_excel("DATA-ISOS.xlsx")
df_isos

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [58]:
# eliminar valores que se encuentran en parentesis

df_isos['Country'] = df_isos['Country'].str.replace(r'\(.*\)', '', regex=True)
df_isos

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [59]:
# Convertir a estilo de oración
df_isos['Country'] = df_isos['Country'].str.title()
df_isos

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,Afghanistan,The Islamic Republic of Afghanistan,.af,AF,AFG
1,Albania,The Republic of Albania,.al,AL,ALB
2,Algeria,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,Angola,The Republic of Angola,.ao,AO,AGO
4,Antigua And Barbuda,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,Uzbekistan,The Republic of Uzbekistan,.uz,UZ,UZB
167,Viet Nam,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,Yemen,The Republic of Yemen,.ye,YE,YEM
169,Zambia,The Republic of Zambia,.zm,ZM,ZMB
170,Zimbabwe,The Republic of Zimbabwe,.zw,ZW,ZWE

In [60]:
# cambiar nombre del indice "Country" a "Pais"
df_isos = df_isos.rename(columns={ "Country" : 'Pais'})
df_isos

,Pais,Officialstatename,InternetccTLD,iso2,iso3
0,Afghanistan,The Islamic Republic of Afghanistan,.af,AF,AFG
1,Albania,The Republic of Albania,.al,AL,ALB
2,Algeria,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,Angola,The Republic of Angola,.ao,AO,AGO
4,Antigua And Barbuda,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,Uzbekistan,The Republic of Uzbekistan,.uz,UZ,UZB
167,Viet Nam,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,Yemen,The Republic of Yemen,.ye,YE,YEM
169,Zambia,The Republic of Zambia,.zm,ZM,ZMB
170,Zimbabwe,The Republic of Zimbabwe,.zw,ZW,ZWE

In [61]:
# reemplazar " " con "_" en la data de Pais
df_isos['Pais'] = df_isos['Pais'].str.replace(' ', '_')

In [62]:
# reemplazar tildes
df_isos['Pais'] = df_isos['Pais'].str.replace('á', 'a').str.replace('é', 'e').str.replace('í', 'i').str.replace('ó', 'o').str.replace('ú', 'u')
df_isos['Pais'] = df_isos['Pais'].str.replace('Á', 'A').str.replace('É', 'E').str.replace('Í', 'I').str.replace('Ó', 'O').str.replace('Ú', 'U')

In [63]:
# Borra caracteres especiales de Pais menos "_"
df_isos['Pais'] = df_isos['Pais'].str.replace('[^a-zA-Z0-9_]', '', regex=True)

In [64]:
df_isos

,Pais,Officialstatename,InternetccTLD,iso2,iso3
0,Afghanistan,The Islamic Republic of Afghanistan,.af,AF,AFG
1,Albania,The Republic of Albania,.al,AL,ALB
2,Algeria,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,Angola,The Republic of Angola,.ao,AO,AGO
4,Antigua_And_Barbuda,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,Uzbekistan,The Republic of Uzbekistan,.uz,UZ,UZB
167,Viet_Nam,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,Yemen,The Republic of Yemen,.ye,YE,YEM
169,Zambia,The Republic of Zambia,.zm,ZM,ZMB
170,Zimbabwe,The Republic of Zimbabwe,.zw,ZW,ZWE

In [65]:
################## MERGE INTERSECCION

In [66]:
# MIGRACION
# df_migracion_2021

# COVID
# df_covid_2023

# CARBON
# df_carbon_2021

# ISOS
# df_isos

In [67]:
# Merge MIGRACION e ISOS

junta_i1 = df_isos.merge(df_migracion_2021)
junta_i1

,Pais,Officialstatename,InternetccTLD,iso2,iso3,Migracion_Neta_2021
0,Albania,The Republic of Albania,.al,AL,ALB,-10612.0
1,Angola,The Republic of Angola,.ao,AO,AGO,29089.0
2,Argentina,The Argentine Republic,.ar,AR,ARG,2344.0
3,Armenia,The Republic of Armenia,.am,AM,ARM,-12825.0
4,Australia,The Commonwealth of Australia,.au,AU,AUS,117929.0
...,...,...,...,...,...,...
77,Uruguay,The Oriental Republic of Uruguay,.uy,UY,URY,-1486.0
78,Uzbekistan,The Republic of Uzbekistan,.uz,UZ,UZB,-39201.0
79,Viet_Nam,The Socialist Republic of Viet Nam,.vn,VN,VNM,-992.0
80,Zambia,The Republic of Zambia,.zm,ZM,ZMB,9015.0
81,Zimbabwe,The Republic of Zimbabwe,.zw,ZW,ZWE,-25005.0

In [68]:
# Merge junta1 y CARBON

junta_i2 = junta_i1.merge(df_carbon_2021)
junta_i2

,Pais,Officialstatename,InternetccTLD,iso2,iso3,Migracion_Neta_2021,Territorial emissions in MTCO2
0,Albania,The Republic of Albania,.al,AL,ALB,-10612.0,4.6191
1,Angola,The Republic of Angola,.ao,AO,AGO,29089.0,21.3627
2,Argentina,The Argentine Republic,.ar,AR,ARG,2344.0,186.4483
3,Armenia,The Republic of Armenia,.am,AM,ARM,-12825.0,6.806
4,Australia,The Commonwealth of Australia,.au,AU,AUS,117929.0,391.1874
...,...,...,...,...,...,...,...
74,Uganda,The Republic of Uganda,.ug,UG,UGA,43465.0,5.7805
75,Uruguay,The Oriental Republic of Uruguay,.uy,UY,URY,-1486.0,6.7379
76,Uzbekistan,The Republic of Uzbekistan,.uz,UZ,UZB,-39201.0,121.6315
77,Zambia,The Republic of Zambia,.zm,ZM,ZMB,9015.0,7.6762
78,Zimbabwe,The Republic of Zimbabwe,.zw,ZW,ZWE,-25005.0,11.2961

In [69]:
# Merge junta2 y COVID

junta_if = junta_i2.merge(df_covid_2023)
junta_if

,Pais,Officialstatename,InternetccTLD,iso2,iso3,Migracion_Neta_2021,Territorial emissions in MTCO2,Muertes_Covid_12_10_2023
0,Albania,The Republic of Albania,.al,AL,ALB,-10612.0,4.6191,3604.0
1,Angola,The Republic of Angola,.ao,AO,AGO,29089.0,21.3627,1936.0
2,Argentina,The Argentine Republic,.ar,AR,ARG,2344.0,186.4483,130472.0
3,Armenia,The Republic of Armenia,.am,AM,ARM,-12825.0,6.806,8751.0
4,Australia,The Commonwealth of Australia,.au,AU,AUS,117929.0,391.1874,23188.0
...,...,...,...,...,...,...,...,...
73,Uganda,The Republic of Uganda,.ug,UG,UGA,43465.0,5.7805,3632.0
74,Uruguay,The Oriental Republic of Uruguay,.uy,UY,URY,-1486.0,6.7379,7634.0
75,Uzbekistan,The Republic of Uzbekistan,.uz,UZ,UZB,-39201.0,121.6315,1016.0
76,Zambia,The Republic of Zambia,.zm,ZM,ZMB,9015.0,7.6762,4069.0
77,Zimbabwe,The Republic of Zimbabwe,.zw,ZW,ZWE,-25005.0,11.2961,5718.0

In [ ]:
################## MERGE UNION

In [ ]:
# MIGRACION
# df_migracion_2021

# COVID
# df_covid_2023

# CARBON
# df_carbon_2021

# ISOS
# df_isos